---
title: Deep Learning with PyTorch
permalink: deep-learning-with-pytorch-thank-you
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="deep-learning-thank-you">
    
    <div class="container-fluid header-holder">
      <div class="container">
        <div class="header-container">
          <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>
        </div>
      </div>
    </div>
    
    <div class="main-background deep-learning-background-thank-you"></div>

    <div class="jumbotron jumbotron-fluid deep-learning-jumbotron">
      <div class="container deep-learning-thank-you-container">
        <div class="deep-learning-row">
          <div class="deep-learning-text col-md-7 col-8">
            <h1>Deep Learning with PyTorch</h1>
            <p class="lead">Thanks for requesting a copy of the Deep Learning with PyTorch book! <a href="https://go.fb.com/rs/267-PVB-941/images/Deep_Learning_with_PyTorch.pdf">Click here</a> to download the book.</p>
          </div> 
          <div class="col-md-5 col-4">
            <img class="deep-learning-book" src="/assets/images/DeepLearningThumbnail.png">
          </div>  
        </div>
      </div>
    </div>
  <footer class="site-footer deep-learning-thank-you-footer">
      <div class="container footer-container">
        <div class="footer-logo-wrapper">
          <img class="deep-learning-thank-you-logo col-3" src="/assets/images/Facebook-AI-Logo.png">
        </div>
        </div>
      </div>
      {% include google_pixel.html %}
    </footer>
  </body>
  
</html>
