<div class="col-md-3 get-started-cloud-sidebar">
  <div class="sticky-top">
    <ul id="get-started-contributor-sidebar-list">
      {% assign past_issues = site.past_issues | sort_natural: "date" %}

      {% for item in past_issues %}
        {% assign currentdate = item.date | date: "%B %Y" %}
        {% if currentdate != date %}
          <li>{{ currentdate }}</li>
          {% assign date = currentdate %}
        {% endif %}

        <ul>
          <li><a href="#issue-{{ item.issue }}">{{ item.title }}</a></li>
        </ul>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  $("#get-started-contributor-sidebar-list li a").on("click", function() {
    removeActiveClass();
    addActiveClass(this);
  });

  function removeActiveClass() {
    $("#get-started-contributor-sidebar-list li a").each(function() {
      $(this).removeClass("active");
    })
  }

  function addActiveClass(element) {
    $(element).addClass("active");
  }

  function addActiveScroll() {
    $("#get-started-contributor-sidebar-list li a").each(function() {
      $(this).removeClass("active");
    })
  }

  var sideNavItems = document.querySelectorAll("#get-started-contributor-sidebar-list li a");
  console.log(sideNavItems);

  $(window).on('scroll', function() {
    $(sideNavItems).each(function() {
      var offsetTop = $(".pytorch-article").offset().top;
      var articleHeight = $(".pytorch-article").height();
      console.log(offsetTop - articleHeight / 3)
      if($(window).scrollTop() >= offsetTop - articleHeight / 3) {
        var current = $(this).attr('href');
          $(this).removeClass('active');
          if ($(this).text(current)) {
            $(this).addClass('active');
          }
      }
    })
  });

</script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
