<footer class="site-footer deep-learning-thank-you-footer col-12">
    <div class="container footer-container">
      <div class="footer-logo-wrapper">
        <img class="deep-learning-thank-you-logo" src="/assets/images/Facebook-AI-Logo.png">
        <div class="deep-learning-footer-link-contain">
          <ul class="deep-learning-footer-links col">
            <li class="deep-learning-footer-items"><a href="https://www.facebook.com/about/privacy/" target="_blank">Privacy</a></li>
            <li class="deep-learning-footer-items"><a href="https://www.facebook.com/policies/" target="_blank">Terms</a></li>
            <li class="deep-learning-footer-items"><a href="https://www.facebook.com/policies/cookies/" target="_blank">Cookies</a></li>
            <li class="deep-learning-footer-items"><a href="https://www.facebook.com/index.php?next=https%3A%2F%2Fwww.facebook.com%2Fads%2Fcreate%2F" target="_blank">Create Ad</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% include google_pixel.html %}
  </footer>
