.deep-learning-index {
  .header-container {
    @include max-width-desktop {
      margin-bottom: 1rem;
    }
  }
  .jumbotron {
    height: 250px;
    .deep-learning-row {
      h1 {
        @include small-desktop {
          font-size: 3rem;
        }
      }
    }
  }

  .deep-learning-background {
    @include desktop {
      height: 440px;
    }
  }

  .deep-learning-content {
    padding-left: 20px;
    padding-right: 20px;
    @include desktop {
      padding-top: 0;
    }
  }
}

.deep-learning-container {
  display: flex;
  color: white;
  align-items: center;
}

.deep-learning-logo {
  background-image: url($baseurl + "/assets/images/pytorch-logo.png");
}

.deep-learning-thank-you-footer {
  position: absolute;
  background-color: #4b4f56;
  bottom: 0;
  height: 26%;
  .footer-container {
    padding-top: 2rem;
  }
}

.deep-learning-row {
  display: flex;
  align-items: center;
  .lead {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  h1 {
    @include small-desktop {
      font-size: 3rem;
    }
    @include desktop {
      margin-top: 2rem;
    }
  }
}

.deep-learning-book {
  max-width: 100%;
  height: auto;
}

.deep-learning-footer-link-contain {
  display: flex;
  color: white;
  bottom: 1rem;
  .deep-learning-footer-links {
    display: flex;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .deep-learning-footer-items {
    margin-right: .5rem;
    padding-bottom: 0;
    color: white;
  } 
}

.deep-learning-form {
  margin-left: -1rem;
  @include desktop {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.deep-learning-thank-you-text-contain {
  margin-top: 5rem;
  margin-bottom: 2rem;
  @include desktop {
    margin-top: -3rem;
  }
  .deep-learning-thank-you-text {
    margin-bottom: 2rem;
  }
}
