---
layout: blog
title: Blog
permalink: /blog/all-posts
body-class: blog
---

{% assign posts = site.posts %}

{% include blog_jumbotron.html posts=posts %}

<div class="main-content-wrapper">
  <div class="main-content">
    <div class="container">
      {% assign all_tags = posts | map: "tags" | join: ',' | split: ',' | uniq | sort %}

      <div class="dropdown">
        <button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort <img src="{{ site.baseurl }}/assets/images/filter-arrow.svg">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for tag in all_tags %}
            <div class="dropdown-item filter-btn" data-tag="{{ tag }}">{{ tag | capitalize }}</div>
          {% endfor %}
        </div>
      </div>

      <div id="all-blog-posts">
        <div class="list row blog-index">
          {% for post in posts %}
            <div class="col-md-4" data-tags="{{ post.tags | join: ',' }}">
              <img src="{{ post.image }}" class="img-fluid blog-img">
              <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p>{{ post.preview | truncate: 150 }}</p>
              <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
            </div>
          {% endfor %}
        </div>

        <div class="pagination d-flex justify-content-center"></div>

      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script id="filter-script" list-id="all-blog-posts" display-count="6" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>
