<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <div class="container-fluid header-holder">
    <div class="container">
      <div class="header-container">
        <a class="header-logo" href="{{ site.url }}{{ site.baseurl }}" aria-label="PyTorch"></a>
      </div>
    </div>
  </div>
  <body class="{{ page.body-class }}">
    <div class="main-background {{ page.background-class }}"></div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container deep-learning-container"> 
        <div class="deep-learning-row">
          <div class="col-md-7 col-8">
            <h1>Deep Learning with PyTorch</h1>
            <p class="lead">Download a free copy of the book and learn how to get started with AI / ML development using PyTorch</p>
          </div>
          <div class="col-md-5 col-4">
            <img class="deep-learning-book" src="/assets/images/deep-learning-thumbnail.png">
          </div> 
        </div>
      </div>
    </div>
    <div class="main-content-wrapper">
      <div class="main-content deep-learning-content">
        <div class="container">
          <div class="row">
            {% if page.deep-learning-thank-you == true %}
              <div class="deep-learning-thank-you-text-contain">
                <h4>Thanks for requesting a copy of the Deep Learning with PyTorch book! <a href="/assets/deep-learning/Deep-Learning-with-PyTorch.pdf" target="_blank">Click here</a> to download the book.</h4>
              </div>
            {% elsif page.deep-learning-index == true %}
              <p>Deep Learning with PyTorch provides a detailed, hands-on introduction to building and training neural networks with PyTorch, a popular open source machine learning framework. This book includes:</p>
              <ul>
                <li>Introduction to deep learning and the PyTorch library</li>
                <li>Pre-trained networks</li>
                <li>Tensors</li>
                <li>The mechanics of learning</li>
                <li>Using a neural network to fit data</li>
              </ul>
              <p>Get a free copy for a limited time.</p>
          </div>
          <div class="deep-learning-form-contain">
            <div class="deep-learning-form col-md-7">
              {% include deep_learning_form.html %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% include footer.html %}

    {% if page.deep-learning-index == true %}
      {% include deep_learning_tracking.html %}
    {% endif %}
    
  </body>
</html>
